/*Pc-ordenador Laptops*/

@media screen and (min-width:800px){
	body{
		clear:left;
		background-color:#E2F8FF;

	}
	/*Encabezado*/
	
	.navegador {	
		text-decoration: none;
		color: white;
		font-size: 1.3rem;
		list-style: none;
		display: inline-block;
		margin-right: 18px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
	
	.encabezado{
		background-color: #00B9FF;
	}
	.navegador {	
		text-decoration: none;
		color: white;
		font-size: 1.3rem;
		list-style: none;
		display: inline-block;
		margin-right: 18px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
	.navegador:hover{
		color: white;
		-ms-transform: scale(0.8);
		transform: scale(1.17);
		text-decoration: none;
	}
	.navegadorEncabezado{
		font-size: 20px;
		background-color: rgb(70, 206, 255);
	}
	.Telefono{
		color: white;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 20px;	
	}
	.logo{
		width: 105px;
		height: auto;	
	}
	.search{
		font-family: Verdana, Geneva, Tahoma, wsans-serif;
		border-radius: 10px;
		width: 250px;
		height: 30px;
		text-align: center;
	}
	.carritocompras{
		padding-top: 5px;
		width: 3%;
		height: 3%;
	}
	.carritocompras:hover{
		cursor:pointer;
	}
	.banner{
		width: 100%;
		height: auto;
	}
	
	.Titulo {
		color: black;
		font-size: 25px;	
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
	.Marca {
		color: gray;
		font-size: 15px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
	.Precio {
		color: blue;
		font-size: 25px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;	
		margin-top: 10px;
	}
	.Producto{
		float: left;	
		margin-top: 50px;
		margin-right: 35px;
		padding: 15px;
		background-color: white;
		border-bottom: #00B9FF;
	}	
	.Producto:hover{
		 -webkit-transform: scale(0.8);
		  -ms-transform: scale(0.8);
		  transform: scale(1.07);
		box-shadow: 0.1px 10px 18px #888888;
	}
	.FotoProducto {
		width: 200px;
		align-items: center;
		vertical-align: center;
	}
	.DivFoto {
		width: 200px;
		height: 200px;
		vertical-align: center;
		align-items: center;
	}
	.PalabraDestacados{
		color:rgb(1, 95, 236);	
		font-size: 10px;
		font-family: perpetua;
		text-align: center;
		/*border: rgb(0, 132, 255) solid 2px;*/
		background-color: #00B9FF;
			
	
	}
	.ProductosDestacados{	
		margin: auto;
		width: 1100px;
	}
	.DatosProductos{
		border-top: blue solid 1px;
		padding-top: 20px;
		margin-top: 20px;
	}
	/*Aside cartas genero*/
	.Aside{
		clear:left;
		text-align:center;
	}
	
	.palabraGenero{
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 150%;
		font-weight:bold;
		text-align: center;
	}
	.CartasGenero{
		display: inline-block;	
		margin-top: 30px;
		margin-bottom: 100px;
		background-color: #FAFAFA;
		margin-right: 43px;
		width: 25%;
	}
	.CartasGenero:hover {
		-webkit-transform: scale(0.8);
		  -ms-transform: scale(0.8);
		  transform: scale(1.07);
		box-shadow: 0.1px 10px 18px #888888;
		border: none;
	}

	
	.corazon{
		opacity: 0.46;
		transition: opacity 1s ease-in-out;

	}
	.corazon:hover{
		opacity: 1;
		transition: opacity 1s ease-in-out;

	}

	.carrito{
		opacity: 0.65;
	}
	.carrito:hover{
		opacity: 0.7;
		transition: opacity 1s ease-in-out;
	}

	.Nenes:hover {
		background-color: #FF8686;
	}
	.Bebes:hover {
		background-color: #BFEAFF;
	}
	.fotosGenero{
		width: 30%;
		display:inline-block;
		margin:auto;	
}
/*smartphone ipads tablets*/

@media screen and (max-width:1223px){
	body{
		clear:left;
		background-color:#E2F8FF;
	}
	/*Encabezado*/
	
	.encabezado{
		background-color: #00B9FF;
	}
	.navegador *{	
		text-decoration: none;
		color: white;
		font-size: 25px;
		list-style: none;
		display: inline;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
	.navegadorEncabezado{
		font-size: 20px;
		background-color: rgb(70, 206, 255);
	}
	.Telefono{
		color: white;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 20px;	
	}
	.logo{
		width: 105px;
		height: auto;	
	}
	.search{
		font-family: Verdana, Geneva, Tahoma, wsans-serif;
		border-radius: 10px;
		width: 250px;
		height: 30px;
		text-align: center;
	}
	
	.banner{
		width: 100%;
		height: auto;
	}
	
	.Titulo {
		color: black;
		font-size: 25px;	
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
	.Marca {
		color: gray;
		font-size: 15px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
	.Precio {
		color: blue;
		font-size: 25px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;	
		margin-top: 10px;
	}
	.Producto{
		float: left;	
		margin-top: 50px;
		margin-right: 35px;
		padding: 15px;
		background-color: white;
	}	
	.Producto:hover{
		 -webkit-transform: scale(0.8);
		  -ms-transform: scale(0.8);
		  transform: scale(1.07);
		box-shadow: 0.1px 10px 18px #888888;
	}
	.FotoProducto {
		width: 200px;
		align-items: center;
		vertical-align: center;
	}
	.DivFoto {
		width: 200px;
		height: 200px;
		vertical-align: center;
		align-items: center;
	}
	.PalabraDestacados{
		color:rgb(1, 95, 236);	
		font-size: 60px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		text-align: center;
		border: rgb(0, 132, 255) solid 2px;
	
	}
	.ProductosDestacados{	
		margin: auto;
		width: 1100px;
	}
	.DatosProductos{
		border-top: blue solid 1px;
		padding-top: 20px;
		margin-top: 20px;
	}
	/*Aside cartas genero*/
	.Aside{
		clear:left;
		text-align:center;
	}
	.palabraGenero{
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 300%;
		font-weight:bold;
		text-align: center;
	}
	.CartasGenero{
		display: inline-block;
		margin-top: 70px;
		margin-bottom: 100px;
		background-color: #FAFAFA;
		margin-right: 43px;
		width: 35%;
		height: 475px;
	}
	.CartasGenero:hover {
		-webkit-transform: scale(0.8);
		  -ms-transform: scale(0.8);
		  transform: scale(1.07);
		box-shadow: 0.1px 10px 18px #888888;
		border: none;
	}
	.Nenes:hover {
		background-color: rgb(255, 193, 193);
	}
	.Bebes:hover {
		background-color: #BFEAFF;
	}
	.fotosGenero{
		margin-top: 50px;
		width: 45%;
		display:inline-block;
		margin:auto;
	}	
	
}
