
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Jugueteria mayorista Alex">
	<meta name="keywords" content="Jugueteria Alex, mayorista, juguetes, Alex jugueteria, once, juguetes para niños, juguetes para niñas, juegos de mesa, juguetes primera infancia"> 

	<title>Jugueteria Alex</title>

	
	<link rel="stylesheet" type="text/css" href="../res/CSS/Normalize.css">
	<link rel="stylesheet" type="text/css" href="../res/CSS/Index.css">	
	<link rel="stylesheet" type="text/css" href="../res/CSS/mySiteCSS.css">	
	<link rel="stylesheet" type="text/css" href="../res/bootstrap/bootstrap css/bootstrap.css">


	<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js" asp-fallback-src="~/lib/jquery/dist/jquery.min.js"	asp-fallback-test="window.jQuery" crossorigin="anonymous"integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		


</head>
<body>
		<!--Header Dinamico-->
	<div class="sticky-top">
		<nav class="navbar navbar-dark encabezado navbar-expand-sm ">	  		  
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<div class="navbar-nav ml-auto mr-auto text-center">
					<img src="../res/img/Logo Alex.png" width="100" height="40" class="mx-auto" alt="Logo Alex">
				</div>
			</div>
		</nav>
			 
		 <!--Navbar Estatico-->
		 <nav class="navbar navbar-dark navegadorEncabezado navbar-expand-sm ">		  
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<div class="navbar-nav ml-auto mr-auto text-center">
					<a class="navegador active ml-5 pl-5" href="index.html">Inicio</a>											
					<a class="navegador" href="index.html#juguetes">Juguetes</a>
					<a class="navegador" href="Contacto.html">Contacto</a>
				</div>	
			</div>
		</nav>
	</div>
<main role="main">
	<section class="container mt-5 mb-5 mb-10">

		<table class="table">
				<thead>
					<tr class="text-center">
						<th><img src="../res/img/local.svg" width="20%"></th>
						<th><img src="../res/img/colectivo.svg" width="20%"></th>
						<th><img src="../res/img/subte.svg" width="20%"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<p class="text-center font-weight-bold">Local</p>
							<p class="text-center">Sarmiento 2401, Once, Buenos Aires, Argentina <br> (011) 4951-9648 <br>  jugueteriaalex@gmail.com</p>		
						</td>
						<td class="text-center">
							<p class="font-weight-bold">Colectivos</p>
							<p>Lineas 68, 152, 15</p>
						</td>
						<td style="margin:auto;">
                            <p class="font-weight-bold text-center">Subtes</p>
                            <div class="row"style="margin-left: 39%;">
                                <div class="col-md-1"><img class="DIB"  src="../res/img/a.jpg" alt="Subte A" ></div>
                                <div><p class="DIB ml-2">Pasco</p> <br></div>
                            </div>
                            <div class="row"style="margin-left: 39%;">
                                <div class="col-md-1"><img class="DIB"  src="../res/img/a.jpg" alt="Subte A" ></div>
                                <div><p class="DIB ml-2">Alberti</p> <br></div>
                            </div>
                            <div class="row"style="margin-left: 39%;">
                                <div class="col-md-1"><img class="DIB"  src="../res/img/b.jpg" alt="Subte A" ></div>
                                <div><p class="DIB ml-2">Pasteur</p> <br></div>
                            </div>
						</td>
					</tr>
					</tbody>
					</table>
					<aside role="complementary" class="Aside">
						<div class="Map">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.9263649280538!2d-58.40311768417488!3d-34.606023465128416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaec7acd559d%3A0x40164e79389ccc12!2sSarmiento+2401%2C+C1044AAM+CABA!5e0!3m2!1ses!2sar!4v1548468654152" width="1100" height="500" frameborder="0" style="border:0; margin: auto;" allowfullscreen></iframe>
							</div>	
					</aside>
	</section>
</main>

 	 <div class="jumbotron mt-12 bg-primary bg-primary text-white rounded-0">
		<div class="container">

			<div>
			<p class="lead">Marcas con las que trabajamos:</p> 
			<img src="../res/img/Marca Rondi.png" width="100px" class="mr-2" alt="Rondi">
			<img src="../res/img/Marca Ruibal.jpg" width="85" class="mr-2" alt="Ruibal">
			<img src="../res/img/Marca HotWheels.png" width="100px" class="mr-2" alt="HotWheels">
			<img src="../res/img/Marca Barbie.png" width="100px" class="mr-2" alt="Barbie">
			<img src="../res/img/Welly_b.png" width="100px" class="mr-2" alt="Welly">			
			<img src="../res/img/Marca Mattel.png" width="85" class="mr-2" alt="Mattel">
			<img src="../res/img/Marca Hasbro.png"  width="85px" class="mr-2" alt="Hasbro">
			<img src="../res/img/Marca Kinsmart.png" width="100px" class="mr-2" alt="Kinsmart">
			<img src="../res/img/Marca Playmobil.png" width="100px" class="mr-2" alt="Playmobil">
			<img src="../res/img/Marca Juliana.png" width="100px" class="mr-2" alt="Juliana">
			</div>

		  <hr class="my-4">

		  <div class="d-flex justify-content-between align-items-center">
			<p>© 2018 Alex Todos los derechos reservados</p>
			<p>Sarmiento 2401</p>
			<p>(011) 4951-9648</p>
			<a  href="https://www.facebook.com/jugueteriaalexx/"><img src="img/facebook.svg" height="40" width="40" alt="Facebook"></a>  
		  </div>
		</div>		
	  </div>
	
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="bootstrap/bootstrap js/bootstrap.js"></script>

</body>
</html>