.hoverImg{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hoverImg:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
a:link 
{ 
text-decoration:none; 
} 
#title{
    color: red;
}
#title:hover{
    color: white;
}
.bodysize{
	font-size: 1.1rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mf{
	margin-top: 5rem !important;
  }