<div class="container offset-md-3">
    <h1>Nicolas Alejandro Margossian</h1>
    <table>
        <tr>
            <th>Datos Personales</th>
            <th>Datos de Contacto</th>
        </tr>
        <tr>
           <td>21/5/2002</td>
           <td>011 1561730659</td>
        </tr>
        <tr>
            <td>20-43994080-8</td>
            <td>nicolasmargossian@gmail.com</td>
        </tr>
        <tr>
            <td>Argentino</td>
            <td>Av rivadavia 6015 13"C" (CABA)</td>
        </tr>
    </table>
</div>