<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Jugueteria mayorista Alex">
	<meta name="keywords" content="Jugueteria Alex, mayorista, juguetes, Alex jugueteria, once, juguetes para niños, juguetes para niñas, juegos de mesa, juguetes primera infancia">

	<title>Jugueteria Alex</title>


	<link rel="stylesheet" type="text/css" href="../res/CSS/Normalize.css">
	<link rel="stylesheet" type="text/css" href="../res/CSS/Index.css">
	<link rel="stylesheet" type="text/css" href="../res/CSS/mySiteCSS.css">
	<link rel="stylesheet" type="text/css" href="../res/bootstrap/bootstrap css/bootstrap.css">


	<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js" asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
	 asp-fallback-test="window.jQuery" crossorigin="anonymous" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	 crossorigin="anonymous"></script>



</head>

<body>
	<!--Header Dinamico-->
	<div class="sticky-top">
		<nav class="navbar navbar-dark encabezado navbar-expand-sm ">
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<div class="navbar-nav ml-auto mr-auto text-center">
					<img src="../res/img/Logo Alex.png" width="100" height="40" class="mx-auto" alt="Logo Alex">
				</div>
			</div>
		</nav>

		<!--Navbar Estatico-->
		<nav class="navbar navbar-dark navegadorEncabezado navbar-expand-sm ">
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<div class="navbar-nav ml-auto mr-auto text-center">
					<a class="navegador active ml-5 pl-5" href="index.html">Inicio</a>
					<a class="navegador" href="index.html#juguetes">Juguetes</a>
					<a class="navegador" href="Contacto.html">Contacto</a>
				</div>
			</div>
		</nav>
	</div>
	<main role="main">
		<section>
			<div class="container">
				<div class="row mt-2">
					<div class="col-lg-6">
						<div id="productoCarousel">
							<img style="width: 500px;" src="https://d2kmljan3xzn6r.cloudfront.net/producto/extra_small/5884-00102724203092----2--640x640.jpg">
						</div>
					</div>
					<div class="col-lg-6 mt-5">
						<h1 id="nombre" class="product-name mb-4">Nerf Mega Twinshock </h1>
						<span id="precio" class="product-price">$5.299</span><span id="stock" class="ml-5" >Stock: 5</span>
						<div class="">
							<div class="box-data">
								<div class="mt-4"><strong>Detalles</strong></div>
								<div class="detail">
									<p id="desc">El lanzador Nerf N-Strike Mega TwinShock botones y lanza dos dardos a la vez! Con 3 formas de lanzar, los
										aventureros pueden perfeccionar la estrategia de juego para cada aventura. Lanza un dardo a la vez, dos
										dardos a la vez o 10 dardos en secuencia. Este lanzador lanza por bombeo, comporta hasta 10 Mega dardos Nerf
										que silban por el aire y alcanzan hasta 22 m de distancia. La aventura tiene más emoción con el lanzador Nerf
										N-Strike Mega TwinShock</p>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
	</main>
	<br>
	<div class="jumbotron mt-12 bg-primary bg-primary text-white rounded-0" style="clear:left;">
		<div class="container">

			<div>
				<p class="lead">Marcas con las que trabajamos:</p>
				<img src="../res/img/Marca Rondi.png" width="100px" class="mr-2" alt="Rondi">
				<img src="../res/img/Marca Ruibal.jpg" width="85" class="mr-2" alt="Ruibal">
				<img src="../res/img/Marca HotWheels.png" width="100px" class="mr-2" alt="HotWheels">
				<img src="../res/img/Marca Barbie.png" width="100px" class="mr-2" alt="Barbie">
				<img src="../res/img/Welly_b.png" width="100px" class="mr-2" alt="Welly">
				<img src="../res/img/Marca Mattel.png" width="85" class="mr-2" alt="Mattel">
				<img src="../res/img/Marca Hasbro.png" width="85px" class="mr-2" alt="Hasbro">
				<img src="../res/img/Marca Kinsmart.png" width="100px" class="mr-2" alt="Kinsmart">
				<img src="../res/img/Marca Playmobil.png" width="100px" class="mr-2" alt="Playmobil">
				<img src="../res/img/Marca Juliana.png" width="100px" class="mr-2" alt="Juliana">
			</div>

			<hr class="my-4">

			<div class="d-flex justify-content-between align-items-center">
				<p>© 2018 Alex Todos los derechos reservados</p>
				<p>Sarmiento 2401</p>
				<p>(011) 4951-9648</p>
				<a href="https://www.facebook.com/jugueteriaalexx/"><img src="../res/img/facebook.svg" height="40" width="40" alt="Facebook"></a>
			</div>
		</div>
	</div>
	<div id="agregModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
	 aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Agregar Juguete</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="offset-md-1 col-md-10">
						<div class="text-center">
							<strong><span>Nombre</span></strong>
						</div>
						<div class="agregInput notEmpty" id="agregNombre">
							<input class="form-control text-center" type="text">
							<div class="validation_msg hidden text-center">Ingrese un valor válido</div>
						</div>
					</div>
					<div class="offset-md-1 col-md-10">
						<div class="text-center">
							<strong><span>Descripción</span></strong>
						</div>
						<div class="agregInput notEmpty" id="agregDesc">
							<textArea class="form-control" rows="3" cols="70"></textArea>
							<div class="validation_msg hidden text-center">Ingrese un valor válido</div>
						</div>
					</div>
					<div class="offset-md-1 col-md-5">
						<div class="text-center">
							<strong><span>Precio</span></strong>
						</div>
						<div class="agregInput notEmpty validPositive" id="agregPrecio">
							<input class="form-control text-center" type="number" min="0" step="0.01">
							<div class="validation_msg hidden text-center">Ingrese valor válido</div>
						</div>
					</div>
					<div class="offset-md-1 col-md-5">
						<div class="text-center">
							<strong><span>Stock</span></strong>
						</div>
						<div class="agregInput notEmpty validPositive" id="agregPrecio">
							<input class="form-control text-center" type="number" min="0" step="1">
							<div class="validation_msg hidden text-center">Ingrese valor válido</div>
						</div>
					</div>
					<div class="offset-md-1 col-md-10">
						<div class="text-center">
							<strong><span>Foto</span></strong>
						</div>
						<div class="agregInput notEmpty" id="agregFoto">
							<input class="form-control text-center" type="text">
							<div class="validation_msg hidden text-center">Ingrese un valor válido</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secundary" id="agregCancel" data-dismiss="modal">Cerrar</button>
					<button class="btn btn-primary" id="add">Crear</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Extra large modal Create-->
	<div class="modal fade bd-example-modal-xl" id="modifModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
	 aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modificar Juguete</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="offset-md-1 col-md-10">
						<div class="text-center">
							<strong><span>Nombre</span></strong>
						</div>
						<div class="modifInput notEmpty" id="modifNombre">
							<input class="form-control text-center" type="text">
							<div class="validation_msg hidden text-center">Ingrese un valor válido</div>
						</div>
					</div>
					<div class="offset-md-1 col-md-10">
						<div class="text-center">
							<strong><span>Descripción</span></strong>
						</div>
						<div class="modifInput notEmpty" id="modifDesc">
							<textArea class="form-control" rows="3" cols="70"></textArea>
							<div class="validation_msg hidden text-center">Ingrese un valor válido</div>
						</div>
					</div>
					<div class="offset-md-1 col-md-5">
						<div class="text-center">
							<strong><span>Precio</span></strong>
						</div>
						<div class="modifInput notEmpty validPositive" id="modifPrecio">
							<input class="form-control text-center" type="number" min="0" step="0.01">
							<div class="validation_msg hidden text-center">Ingrese valor válido</div>
						</div>
					</div>
					<div class="offset-md-1 col-md-5">
						<div class="text-center">
							<strong><span>Stock</span></strong>
						</div>
						<div class="modifInput notEmpty validPositive" id="modifPrecio">
							<input class="form-control text-center" type="number" min="0" step="1">
							<div class="validation_msg hidden text-center">Ingrese valor válido</div>
						</div>
					</div>
					<div class="offset-md-1 col-md-10">
						<div class="text-center">
							<strong><span>Foto</span></strong>
						</div>
						<div class="modifInput notEmpty" id="modifFoto">
							<input class="form-control text-center" type="text">
							<div class="validation_msg hidden text-center">Ingrese un valor válido</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secundary" id="modifCancel" data-dismiss="modal">Cerrar</button>
					<button class="btn btn-primary" id="add">Crear</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<h5 class="modal-title">Esta seguro que quiere eliminar el producto?</h5>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button type="button" id="confirm" class="btn btn-primary">Confirmar</button>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" src="../res//JS//Index.js"></script>

</html>